

*
{
      color: white;
      background-color: black;
      text-transform: capitalize;

}

table{
      border: solid 2px red;
      text-align: center;
     

}

td ,th{
border: solid 3px white;

}
div{
      display:flex;
      flex-direction:row-reverse;
      justify-content: center;
}
